version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Evidencijanezaposlenih.Interface/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: "${ASPNETCORE_ENV}"
      ApiSettings__BaseUrl: "${SERVER_URL}"
      ConnectionStrings__EvidencijaNezaposlenihDBContext: "${EVIDENCIJA_NEZAPOSLENIH_DB}"
      ConnectionStrings__IdentitetiDBContext: "${IDENTITETI_DB}"
    ports:
      - "${WEB_HTTP_PORT}:8080"
      - "${WEB_HTTPS_PORT}:8081"
    depends_on:
      - db1

  db1:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: db1
    ports:
      - "${DB_PORT}:1433"
    environment:
      SA_PASSWORD: "${DB_PASSWORD}"
      ACCEPT_EULA: "Y"
    mem_limit: 4g

  adminer:
    image: adminer
    container_name: adminer
    restart: always
    ports:
      - "${ADMINER_PORT}:8080"
    depends_on:
      - db1

  portainer:
    image: portainer/portainer-ce
    container_name: portainer
    command: -H unix:///var/run/docker.sock
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    ports:
      - "${PORTAINER_PORT}:9000"
    restart: always

volumes:
  db1data:
  portainer_data:
