version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Evidencijanezaposlenih.Interface/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
    ports:
      - "8080:8080"
      - "8081:8081"
    depends_on:
      - db1
      # - db2

  # db1:
  #   image: mcr.microsoft.com/mssql/server:2022-latest
  #   container_name: db1
  #   ports:
  #     - "1434:1433"
  #   environment:
  #     SA_PASSWORD: "YourPassword123!"
  #     ACCEPT_EULA: "Y"
  #   volumes:
  #     - db1data:/var/opt/mssql
  #   mem_limit: 4g

  db1:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: db1
    ports:
      - "1434:1433"
    environment:
      SA_PASSWORD: "YourPassword123!"
      ACCEPT_EULA: "Y"
    volumes:
      - db1data:/var/opt/mssql
      - ./init-db.sh:/init-db.sh     # Mount your shell script
    entrypoint: ["/bin/bash", "/init-db.sh"]   # Run your shell script
    mem_limit: 4g

  adminer:
    image: adminer
    container_name: adminer
    restart: always
    ports:
      - "8082:8080"

  portainer:
    image: portainer/portainer-ce
    container_name: portainer
    command: -H unix:///var/run/docker.sock
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    ports:
      - "9000:9000"
    restart: always

volumes:
  db1data:
  portainer_data:
