@page
@model Evidencijanezaposlenih.Interface.Pages.DodavanjeNezaposlenihModel
@{
    ViewData["Title"] = "Dodavanje Zaposlenih";
}
<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezor Web App - Data Entry Page</title>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="~/css/dodavanje.css" asp-append-version="true" />
</head>
<body>
    <div class="header">
        <h1>Dodavanje Nezaposlenog</h1>

    </div>
    <div class="MasterSeparator"></div>
    <div class="container">
        <h2>Unesite podatke o nezaposlenom</h2>
        <form id="data-entry-form" method="post">
            <div class="form-group">
                <label for="name">Ime:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="surname">Prezime:</label>
                <input type="text" id="surname" name="surname" required>
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Datum Rodjenja:</label>
                <input type="date" id="dateOfBirth" name="dateOfBirth" required>
            </div>
            <div class="form-group">
                <label for="jmbg">JMBG:</label>
                <input type="text" id="jmbg" name="jmbg" required>
            </div>
            <div class="form-group">
                <label for="phoneNumber">Broj telefona:</label>
                <input type="text" id="phoneNumber" name="phoneNumber" required>
            </div>
            <div class="form-group">
                <label for="adresa">Adresa:</label>
                <input type="text" id="adresa" name="adresa" required>
            </div>
            <div class="form-group">
                <label for="adresa">Zanimanje:</label>
                <input type="text" id="zanimanje" name="zanimanje" required>
            </div>
            <div class="separator"></div>
            <h3>Lista Radnih iskustava</h3>
            <div class="work-experience">
                <div class="work-row">
                    <div class="main-info">
                        <div class="form-group">
                            <label class="work-label" for="nazivFirme">Naziv Firme:</label>
                            <select class="naziv-firme" name="nazivFirme[]" required>
                                <option value="">Izaberi Firmu</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="work-label" for="Pozicija">Pozicija:</label>
                            <input type="text" class="pozicija" name="Pozicija[]" required>
                        </div>
                    </div>
                    <div class="date-info">
                        <div class="form-group">
                            <label class="work-label" for="datumPocetka">Datum Pocetka:</label>
                            <input type="date" class="datum-pocetka" name="datumPocetka[]" required>
                        </div>
                        <div class="form-group">
                            <label class="work-label" for="datumZavrsetka">Datum Zavrsetka:</label>
                            <input type="date" class="datum-zavrsetka" name="datumZavrsetka[]" required>
                        </div>
                    </div>
                    <button class="remove-row" onclick="removeWorkExperienceRow(this)" style="background-color: transparent; border: none; font-size: 34px;">
                        🗑️
                    </button>
                </div>
                <div class="separator"></div>
            </div>
            <div class="add-row" onclick="addWorkExperienceRow()">+ Dodaj iskustvo</div>
            <div class="separator"></div> 
                <input type="submit" value="Submit">
            <div class="separator"></div>

        </form>
    </div>

    <script>
        $(document).ready(function () {
            @if (Model.ShowPopup)
            {
                <text>
                        alert('@Model.CustomMessage');
                </text>
            }

            $(".naziv-firme").html(`@Html.Raw(ViewData["Firms"])`);

        });

        function removeWorkExperienceRow(button) {
            const row = button.parentNode;
            const separator = row.nextElementSibling; // Pronalazimo sledeći element (separator)

            row.remove(); // Uklanjamo red
            if (separator && separator.classList.contains('separator')) {
                separator.remove(); // Uklanjamo separator ako postoji
            }
        }

        function addWorkExperienceRow() {
            const workExperienceContainer = document.querySelector('.work-experience');
            const newRow = document.createElement('div');
            newRow.classList.add('work-row');
            newRow.innerHTML = `
                <div class="main-info">
                    <div class="form-group">
                        <label class="work-label" for="nazivFirme">Naziv Firme:</label>
                        <select class="naziv-firme" name="nazivFirme[]" required>
                            ${copyOptionsFromFirstFirmField()}
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="work-label" for="Pozicija">Pozicija:</label>
                        <input type="text" class="pozicija" name="Pozicija[]" required>
                    </div>
                </div>
                <div class="date-info">
                    <div class="form-group">
                        <label class="work-label" for="datumPocetka">Datum Pocetka:</label>
                        <input type="date" class="datum-pocetka" name="datumPocetka[]" required>
                    </div>
                    <div class="form-group">
                        <label class="work-label" for="datumZavrsetka">Datum Zavrsetka:</label>
                        <input type="date" class="datum-zavrsetka" name="datumZavrsetka[]" required>
                    </div>
                </div>
                <button class="remove-row" onclick="removeWorkExperienceRow(this)" style="background-color: transparent; border: none; font-size: 34px;">
                    🗑️
                </button>
            `;
            workExperienceContainer.appendChild(newRow);

            const separator = document.createElement('div');
            separator.classList.add('separator');
            workExperienceContainer.appendChild(separator);
        }

        function copyOptionsFromFirstFirmField() {
            const firstFirmOptions = document.querySelector('.naziv-firme').innerHTML;
            return firstFirmOptions;
        }

    </script>
</body>
</html>
