@page
@model Evidencijanezaposlenih.Interface.Pages.DodavanjeFirmeModel
@{
    ViewData["Title"] = "Dodavanje Firme";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezor Web App - Data Entry Page</title>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="~/css/dodavanje.css" asp-append-version="true" />
</head>
<body>
    <div class="header">
        <h1>Dodavanje Firme</h1>

    </div>
    <div class="MasterSeparator"></div>
    <div class="container">
        <h2>Upisite informacije o firmi</h2>
        <form id="data-entry-form" method="post">
            <div class="form-group">
                <label for="name">PIB:</label>
                <input type="text" id="pib" name="pib" required>
            </div>
            <div class="form-group">
                <label for="startDate">Naziv:</label>
                <input type="text" id="naziv" name="naziv" required>
            </div>
            <div class="form-group">
                <label for="startDate">Grad:</label>
                <input type="text" id="grad" name="grad" required>
            </div>
            <div class="form-group">
                <label for="endDate">Adresa:</label>
                <input type="text" id="adresa" name="adresa">
            </div>
            <input type="submit" value="Submit">
            <div class="separator"></div>
        </form>
    </div>
</body>
</html>
