@page
@model IndexModel
@{
    ViewData["Title"] = "EVIDENCIJA NEZAPOSLENIH";
}
@using Microsoft.AspNetCore.Identity
@using Evidencijanezaposlenih.Interface.Context.Modeli

@inject SignInManager<Korisnik> SignInManager
@inject UserManager<Korisnik> UserManager


<link rel="stylesheet" href="~/css/dodavanje.css" asp-append-version="true" />
@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("admin"))
    {
        <div class="button-container">
            <a href="/DodavanjeNezaposlenih" class="btn">DODAVANJE NEZAPOSLENIH</a>
            <a href="/DodavanjeFirme" class="btn">DODAVANJE FIRME</a>
        </div>
        <div class="button-container">
            <a href="/NezaposleniPikaz" class="btn">PREGLED NEZAPOSLENIH</a>
            <a href="/PoslodavacPikaz" class="btn">PRIKAZ FIRME</a>
        </div>
    }
    else
    {
        <div class="button-container">
            <a href="/NezaposleniPikaz" class="btn">PREGLED NEZAPOSLENIH</a>
            <a href="/PoslodavacPikaz" class="btn">PRIKAZ FIRME</a>
        </div>
    }
}
else
{
    <h1 class="text-center ">ULOGUJ SE!</h1>
}

