@page
@model Evidencijanezaposlenih.Interface.Pages.NezaposleniIzmeniModel
@{
    ViewData["Title"] = "Dodavanje Zaposlenih";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezor Web App - Data Entry Page</title>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="~/css/dodavanje.css" asp-append-version="true" />
</head>
<body>
    <div class="header">
        <h1>Izmena Nezaposlenog</h1>

    </div>
    <div class="MasterSeparator"></div>
    <div class="container">
        <h2>Izmenite podatke nezaposlenog</h2>
        <form id="data-entry-form" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="@Model?.nezaposleni?.Ime" />
            </div>
            <div class="form-group">
                <label for="surname">Surname:</label>
                <input type="text" id="surname" name="surname" value="@Model?.nezaposleni?.Prezime">
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Date of Birth:</label>
                <input type="date" id="dateOfBirth" name="dateOfBirth" value="@Model?.nezaposleni?.DatumRodjenja.ToString("yyyy-MM-dd")">
            </div>
            <div class="form-group">
                <label for="jmbg">JMBG:</label>
                <input type="text" id="jmbg" name="jmbg" value="@Model?.nezaposleni?.JMBG">
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone Number:</label>
                <input type="text" id="phoneNumber" name="phoneNumber" value="@Model?.nezaposleni?.BrojTelefona ">
            </div>
            <div class="form-group">
                <label for="adresa">Adresa:</label>
                <input type="text" id="adresa" name="adresa" value="@Model?.nezaposleni?.Adresa">
            </div>
            <div class="form-group">
                <label for="zanimanje">Zanimanje:</label>
                <input type="text" id="zanimanje" name="zanimanje" value="@Model?.nezaposleni?.Zanimanje">
            </div>
            <div class="separator"></div>
            <h3>List of Work Experience</h3>
            <div class="work-experience">
                @if (Model != null && Model.nezaposleni != null && Model.nezaposleni.RadniOdnosPrikaz != null)
                {
                    foreach (var workExperience in Model.nezaposleni.RadniOdnosPrikaz)
                        {
                            <div class="work-row">
                                <div class="main-info">
                                    <div class="form-group">
                                        <label class="work-label" for="nazivFirme">Naziv Firme:</label>
                                        <input type="text" class="naziv-firme" name="nazivFirme[]" value="@workExperience?.NazivFirme" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="work-label" for="pozicija">pozicija:</label>
                                        <input type="text" id="pozicija" name="pozicija[]" value="@workExperience?.Pozicija">
                                    </div>
                                </div>
                                <div class="date-info">
                                    <div class="form-group">
                                        <label class="work-label" for="datumPocetka">Datum Pocetka:</label>
                                        <input type="date" class="datum-pocetka" name="datumPocetka[]" value="@workExperience?.DatumPocetka.ToString("yyyy-MM-dd")" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="work-label" for="datumZavrsetka">Datum Zavrsetka:</label>
                                        <input type="date" class="datum-zavrsetka" name="datumZavrsetka[]" value="@workExperience?.DatumZavrsetka.ToString("yyyy-MM-dd")" required>
                                    </div>
                                </div>
                                <button class="remove-row" onclick="removeWorkExperienceRow(this)" style="background-color: transparent; border: none; font-size: 34px;">
                                    🗑️
                                </button>
                            </div>
                        <div class="separator"></div>
                        }
                }
            </div>
            <div class="add-row" onclick="addWorkExperienceRow()">+ Add Work Experience</div>
            <div class="separator"></div>
            <input type="submit" value="Izmeni">
            <div class="separator"></div>
        </form>
        <form method="post" asp-page-handler="Obrisi">
            <input type="hidden" name="JMBG" value="@Model?.nezaposleni?.JMBG" />
            <input type="submit" value="Obrisi">
        </form>
    </div>
    <script>
        $(document).ready(function () {
            // Populate the combo box with data from the ViewData["Firms"] variable
            var firmsData = ViewData["Firms"] != null ? Html.Raw(ViewData["Firms"]) : "";
            // Check if firmsData is not empty
            if (firmsData.trim() !== '') {
                $(".naziv-firme").html(firmsData); // Populate the combo box with firmsData
            }
        });

        function removeWorkExperienceRow(button) {
            const row = button.parentNode;
            const separator = row.nextElementSibling; 

            row.remove();
            if (separator && separator.classList.contains('separator')) {
                separator.remove(); 
            }
        }

        function addWorkExperienceRow() {
            const workExperienceContainer = document.querySelector('.work-experience');
            const newRow = document.createElement('div');
            newRow.classList.add('work-row');
            newRow.innerHTML = `
                                    <div class="main-info">
                                <div class="form-group">
                                    <label class="work-label" for="nazivFirme">Naziv Firme:</label>
                                    <select class="naziv-firme" name="nazivFirme[]" required>
                                        <option value="">Select Firm</option> 
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="work-label" for="pozicija">pozicija:</label>
                                    <input type="text" id="pozicija" name="pozicija[]" required>
                                </div>
                                </div>
                                <div class="date-info">
                                    <div class="form-group">
                                        <label class="work-label" for="datumPocetka">Datum Pocetka:</label>
                                        <input type="date" class="datum-pocetka" name="datumPocetka[]" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="work-label" for="datumZavrsetka">Datum Zavrsetka:</label>
                                        <input type="date" class="datum-zavrsetka" name="datumZavrsetka[]" required>
                                    </div>
                                </div>

                                <button class="remove-row" onclick="removeWorkExperienceRow(this)" style="background-color: transparent; border: none; font-size: 34px;">
                                    🗑️
                                </button>
                            </div>
                        `;
            workExperienceContainer.appendChild(newRow);
            const separator = document.createElement('div');
            separator.classList.add('separator');
            workExperienceContainer.appendChild(separator);

            // Populate the newly added combo box with data from the ViewData["Firms"] variable
            $(newRow).find(".naziv-firme").html(`@Html.Raw(ViewData["Firms"])`);
        }
    </script>
</body>
</html>
