@page
@model Evidencijanezaposlenih.Interface.Pages.tmpModel

<!DOCTYPE html>

<html>
<head>
    <title>Your ASP.NET Core Razor Page</title>
</head>
<body>
    <form method="post">
        <div>
            <label asp-for="Name">Name:</label>
            <input asp-for="Name" />
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>
