body {
    background-color: #333333;
    color: #000000;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.container {
    background-color: #33333333;
    border-radius: 8px;
    color: lightskyblue;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-group {
    padding: 20px;
    margin-bottom: 0px;
}

label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
    width: 150px; /* Set width for labels */
    font-size: 18px; /* Larger font size */
}

select, input[type="text"], input[type="date"] {
    width: 250px; /* Set width for input fields */
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: lightskyblue;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

.separator {
    border-top: 2px solid #007bff;
    margin: 20px 0;
}

.work-row {
    display: flex;
    align-items: center;
}

.work-label {
    font-size: 18px; /* Larger font size for labels */
    margin-right: 0px;
}


.search-box {
    display: flex;
}

    .search-box input[type="text"] {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .search-box button {
        padding: 5px 10px;
        margin-left: 5px;
        background-color: #007bff;
        border: none;
        border-radius: 4px;
        color: #ffffff;
        cursor: pointer;
    }

.firma-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    position: relative;
    color: #ffffff;
}

.firma-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

    .firma-details table {
        width: 100%;
        color: #ffffff;
        border-collapse: collapse;
        table-layout: fixed; /* Ensures each column has the same width */
    }

    .firma-details th, .firma-details td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
        color: #ffffff;
        width: 25%; /* Ensures each column takes up 25% of the table width */
    }

    .firma-details th {
        background-color: #888888;
        color: #ffffff;
    }

.MasterSeparator {
    border-top: 5px solid #007bff;
    margin: 20px 0;
}

h1, th {
    color: #ffffff;
}

.nezaposleni-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    position: relative;
    color: #ffffff; /* Ensures text within these containers is white */
}

.nezaposleni-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

    .nezaposleni-details p {
        margin: 0 10px 0 0;
        color: #ffffff; /* Ensures text within these paragraphs is white */
    }

    .nezaposleni-details table {
        width: 100%;
        color: #ffffff; /* Ensures text within these tables is white */
    }

.toggle-button {
    cursor: pointer;
    margin-left: auto;
    color: #ffffff; /* Ensures toggle button text is white */
}

.radni-odnos {
    display: none;
    margin-top: 10px;
    color: #ffffff; /* Ensures text within these containers is white */
}

    .radni-odnos table {
        width: 100%;
        border-collapse: collapse;
        color: #ffffff; /* Ensures text within these tables is white */
    }

    .radni-odnos th, .radni-odnos td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
        color: #ffffff; /* Ensures text within these table cells is white */
    }

    .radni-odnos th {
        background-color: #88888888;
        color: #ffffff; /* Ensures header text within these table cells is black for contrast */
    }

.nezaposleni-details th, .nezaposleni-details td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    color: #ffffff; /* Ensures text within these table cells is white */
    width: 15%;
}

.nezaposleni-details th {
    background-color: #88888888;
    color: #ffffff; /* Ensures header text within these table cells is black for contrast */
}